Library used for working with data set
helps in analyzing,explore the data
allow us to clean the messy data and make the data readable and revelent

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\harshit chauhan\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\harshit chauhan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\harshit chauhan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\harshit chauhan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\harshit chauhan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\harshit chauhan\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

WARNING: Ignoring invalid distribution ~otebook (C:\Users\HARSHIT CHAUHAN\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~otebook (C:\Users\HARSHIT CHAUHAN\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~otebook (C:\Users\HARSHIT CHAUHAN\AppData\Local\Programs\Python\Python312\Lib\site-packages)

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

# Series like a coulmn (1.d array)

In [1]:
import pandas as pd
import numpy as np

In [2]:
a=["a","b","c","d","e"]
s=pd.Series(a)
s

0    a
1    b
2    c
3    d
4    e
dtype: object

In [8]:
a=[1,2,3,4]
s=pd.Series(a,index=["a1","b1","c1","d1"])
s

a1    1
b1    2
c1    3
d1    4
dtype: int64

# Series with the help of Dictionary

In [9]:
s=pd.Series({"a":1,"b":2,"c":3,"d":4})
s

a    1
b    2
c    3
d    4
dtype: int64

In [11]:
print(s["c"])
print(s[2])

3
3

C:\Users\HARSHIT CHAUHAN\AppData\Local\Temp\ipykernel_2444\1287930767.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[2])

# value count

In [14]:
a=pd.Series([1,2,2,3,1,1,4,4])
print(a.value_counts())

1    3
2    2
4    2
3    1
Name: count, dtype: int64

In [15]:
a=pd.Series([1,2,2,3,1,1,4,4])
print(a.value_counts(normalize=True)) #to check frequency how much time it occur

1    0.375
2    0.250
4    0.250
3    0.125
Name: proportion, dtype: float64

In [6]:
import pandas as pd
import numpy as np
a=pd.Series([1,2,2,3,1,1,4,4,np.nan,np.nan])  #nan=not a number
print(a.value_counts(dropna=False))

1.0    3
2.0    2
4.0    2
NaN    2
3.0    1
Name: count, dtype: int64

# unique

In [22]:
a=pd.Series([1,2,2,3,1,1,4,4,5])
print(a.unique())

[1 2 3 4 5]

In [23]:
a=pd.Series([1,2,2,3,1,1,4,4,5,np.nan])
print(a.unique())

[ 1.  2.  3.  4.  5. nan]

# DataFrame

In [ ]:
#DataFrame is like a table (multidimensional array)

# dataframe with the help of series

In [25]:
a=pd.Series([1,2,3,4,5,6,7])
b=pd.Series(["a","b","c","d","e","f","g"])
c=pd.DataFrame({"Numbers":a,"Letters":b})
c

   Numbers Letters
0        1       a
1        2       b
2        3       c
3        4       d
4        5       e
5        6       f
6        7       g

# dataframe with the help of Dictionary

In [26]:
c=pd.DataFrame({"Numbers":[1,2,3,4],"Letters":["a","b","c","d"]})
c

   Numbers Letters
0        1       a
1        2       b
2        3       c
3        4       d

In [3]:
import pandas as pd
a=pd.Series([1,2,3,4,5],index=["a","b","c","d","e"])
b=pd.Series([1,2,3,4,5,6,7],index=["a","b","c","d","e","f","g"])
c=pd.DataFrame({"One":a,"Two":b})
c

   One  Two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  NaN    6
g  NaN    7